<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ARM">
  <xacro:arg name="hardware_type" default="fake"/>
  <xacro:arg name="can_interface" default="can1"/>
  <xacro:arg name="baudrate" default="0"/>
  <xacro:arg name="encoder_bw" default="19"/>
  <xacro:arg name="reduction_ratio" default="100.0"/>
  <xacro:arg name="node_ids" default="1,2,3,4,5,6"/>
  <xacro:arg name="joint_indices" default="0,1,2,3,4,5"/>
  <xacro:arg name="position_min" default="0.0,0.0,0.0,0.0,0.0,0.0"/>
  <xacro:arg name="position_max" default="0.0,0.0,0.0,0.0,0.0,0.0"/>
  <xacro:arg name="sync_period_us" default="0"/>
  <xacro:arg name="read_rate_hz" default="50.0"/>
  <xacro:arg name="state_poll_rate_hz" default="0.0"/>
  <xacro:arg name="manual_feedback_timeout_ms" default="15"/>
  <xacro:arg name="feedback_stale_timeout_ms" default="30"/>
  <xacro:arg name="enable_emcy_monitor" default="true"/>
  <xacro:arg name="max_command_step_rad" default="0.005"/>
  <xacro:arg name="max_following_error_rad" default="0.05"/>
  <xacro:arg name="following_error_cycles" default="3"/>
  <xacro:arg name="remote_heartbeat_topic" default="/arm_remote_control/heartbeat"/>
  <xacro:arg name="remote_profile_fingerprint" default="disabled"/>
  <xacro:arg name="remote_watchdog_timeout_ms" default="0"/>
  <xacro:arg name="remote_stop_velocity_threshold_rad_s" default="0.02"/>
  <xacro:arg name="require_full_arm" default="false"/>
  <xacro:arg name="require_position_limits" default="false"/>

  <xacro:include filename="materials.xacro"/>
  <!-- Converted from urdf/original/ARM.urdf; link and joint names are preserved. -->
  <xacro:include filename="original/ARM.model.urdf.xacro"/>
  <xacro:include filename="ros2_control.xacro"/>

  <!-- TODO: Replace this zero-offset tool frame with the real TCP transform if available. -->
  <link name="tool0"/>
  <joint name="J6_to_tool0" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="J6"/>
    <child link="tool0"/>
  </joint>

  <xacro:arm_ros2_control
    name="ARMSystem"
    hardware_type="$(arg hardware_type)"
    can_interface="$(arg can_interface)"
    baudrate="$(arg baudrate)"
    encoder_bw="$(arg encoder_bw)"
    reduction_ratio="$(arg reduction_ratio)"
    node_ids="$(arg node_ids)"
    joint_indices="$(arg joint_indices)"
    position_min="$(arg position_min)"
    position_max="$(arg position_max)"
    sync_period_us="$(arg sync_period_us)"
    read_rate_hz="$(arg read_rate_hz)"
    state_poll_rate_hz="$(arg state_poll_rate_hz)"
    manual_feedback_timeout_ms="$(arg manual_feedback_timeout_ms)"
    feedback_stale_timeout_ms="$(arg feedback_stale_timeout_ms)"
    enable_emcy_monitor="$(arg enable_emcy_monitor)"
    max_command_step_rad="$(arg max_command_step_rad)"
    max_following_error_rad="$(arg max_following_error_rad)"
    following_error_cycles="$(arg following_error_cycles)"
    remote_heartbeat_topic="$(arg remote_heartbeat_topic)"
    remote_profile_fingerprint="$(arg remote_profile_fingerprint)"
    remote_watchdog_timeout_ms="$(arg remote_watchdog_timeout_ms)"
    remote_stop_velocity_threshold_rad_s="$(arg remote_stop_velocity_threshold_rad_s)"
    require_full_arm="$(arg require_full_arm)"
    require_position_limits="$(arg require_position_limits)"/>
</robot>
